.inner-nav.onepage-nav
    ul
        li: a(href="#home")
            span.menu-item-span Home

        li: a(href="#about")
            span.menu-item-span About

        li: a(href="#team")
            span.menu-item-span Team

        li: a(href="#contact")
            span.menu-item-span Contact