extends include/templates/layout

block vars
    - var header_transparent = true;
    - var header_one_page = true;


append css

append content

    // Hero
    section.module-cover.parallax.text-center.fullscreen(data-background="assets/images/module-2.jpg" data-jarallax-video="mp4:assets/video/workhardplayhard.mp4" data-overlay="0.6")
        .container

            .row#home
                .col-md-12
                    h1.m-b-20: strong Sounds Good
                    p.m-b-40 "It's not a dream, it's destiny"
                    p
                        a(href="#team" class="btn btn-lg btn-circle btn-brand smoothscroll") Who we are
                        a(href="#needs" class="btn btn-lg btn-circle btn-outline-new-white smoothscroll") What we need
    // Hero end

    = "\n"

    // About

    section.module
        .container

            .row#about
                .col-md-6.m-auto.text-center

                    h1 HELLO!
                    p.lead Thanks for stopping by. Check out our video below for a quick message.

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-md-9.m-auto
                    .modal-video-container
                        img(src="assets/images/cover.jpg" alt="")
                        a(href="https://www.youtube.com/watch?v=RrKqMrPHxQo" class="play-button")

    // About end

    = "\n"

    // Needs
    section
        .container-fluid

            .row#needs
                .col-md-6.m-auto.text-center

                    h1 What we need
                    p.lead Click on each item for specifics on how you can help

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-11.col-xl-8.offset-1.mx-xl-auto
                    ul.checklist-items
                        +checklist("Filming locations",
                            "Storefront space/Bar",
                            "Vacant store front space preferably with break room/kitchen area and back room/storage area. Bar or area with bar big enough to film as a bar.")
                        +checklist("Musical equipment",
                            "New/Used Equipment for staging",
                            "We won't be using any of the contributed instruments, so non-working instruments are great! These are for showing on displays/floor areas in the store and will be handled minimally.")
                        +checklist("Donations",
                            "Always appreciated",
                            "Donations will be accepted on case-by-case terms. Reach out to us to discuss how you can help in a big way by investing financially in the project.")

    // Needs end

    = "\n"

    // Who
    section.module.divider-bottom
        .container

            .row#team
                .col-md-6.m-auto.text-center

                    h1 Meet the team
                    p.lead Brought to you by just the right amount of talent overlap, industry experience, and ridiculous stories from our time in retail service

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-lg-4.col-md-6
                    +team("assets/images/team/jonathan.jpg", "Jonathan Skinner", "Producer / 'Jake'", "http://instagram.com/jon.on.fire",
                        "Jonathan is a theatre/film actor and singer/songwriter with training from UCB (NYC) and film credits including work with Lenovo and Audi.")
                .col-lg-4.col-md-6
                    +team("assets/images/team/chelsea.jpg", "Chelsea Cullen Skinner", "Director / 'Charleigh'", "http://chelseacullen.me",
                        "Chelsea is an actor with a BA in Theatre Education from Meredith College, with film credits including work with HBO and the Travel Channel.")
                .col-lg-4.col-md-6
                    +team("assets/images/team/jesse.jpg", "Jesse Pulchalski", "Composer / 'Boomer'", "http://instagram.com/j_bone_stallone",
                        "Jesse is a guitarist, songwriter, and performer who has been featured in Guitar Player Magazine as a rising guitarist to watch out for.")
                .col-lg-4.col-md-6.offset-lg-2
                    +team("assets/images/team/christa.jpg", "Christa Giammattei", "Sound Engineer / 'Gia'", "http://cgiammatteisound.com",
                        "Christa is an audio engineer with past clients including VW Volkswagen, PBS, and National Geographic.")
                .col-lg-4.col-md-6
                    +team("assets/images/team/zach.jpg", "Zach Beck", "Head Writer / 'Ski'", "http://instagram.com/back_zecker",
                        "Zach is a writer with a degree in Literature and Creative Writing from UNC Asheville.")
    // Who end

    = "\n"

    // Form
    section.module
        .container

            .row#contact
                .col-lg-6.col-md-9.m-auto.text-center
                    h1 Want to get involved?
                    p.lead #[i Sounds Good] could be so much better with your help!

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-md-8.m-auto
                    form#contact-form(method="post" novalidate)
                        .row
                            .col-md-6
                                .form-group
                                    input.form-control(type="text" name="name" placeholder="Name" required="")
                                    p.help-block.text-danger
                            .col-md-6
                                .form-group
                                    input.form-control(type="email" name="email" placeholder="E-mail" required="")
                                    p.help-block.text-danger
                            .col-md-12
                                .form-group
                                    input.form-control(type="text" name="subject" placeholder="Subject" required="")
                                    p.help-block.text-danger
                            .col-md-12
                                .form-group
                                    textarea.form-control(name="message" placeholder="Message" rows="12" required="")
                            .col-md-12
                                p
                                    input(type="submit" class="btn btn-block btn-brand" value="Send Message")
                    // Ajax response
                    #contact-response.ajax-response.text-center
    // Form end

    = "\n"

    // Image
    section.module.no-gutters.p-0
        .container-fluid
            .row
                .col-md-12
                    img(src="assets/images/main/lake.jpg" alt="")
    // Image end