extends include/templates/layout

block vars
    - var header_transparent = true;
    - var header_one_page = true;


append css

append content

    // Hero
    section.module-cover.parallax.text-center.fullscreen(data-background="assets/images/module-2.jpg" data-jarallax-video="mp4:assets/video/workhardplayhard.mp4" data-overlay="0.6")
        .container

            .row#home
                .col-md-12
                    h1.m-b-20: strong Sounds Good
                    p.m-b-40 "It's not a dream, it's destiny"
                    p
                        a(href="#about" class="btn btn-lg btn-circle btn-brand smoothscroll") Meet the Team
                        a(href="https://www.indiegogo.com/projects/sounds-good-a-comedy-web-series/coming_soon/x/25173407" target="_blank" class="btn btn-lg btn-circle btn-outline-new-white smoothscroll") How to Help
    // Hero end

    = "\n"

    // About

    section.module
        .container

            .row#about
                .col-md-6.m-auto.text-center

                    h1 HELLO!
                    p.lead Thanks for stopping by. Check out our video below for a quick message.

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-md-9.m-auto
                    .modal-video-container
                        img(src="assets/images/cover.jpg" alt="")
                        a(href="https://www.youtube.com/watch?v=RrKqMrPHxQo" class="play-button")

    // About end

    = "\n"

    // Needs
    section
        .container-fluid

            .row#needs
                .col-md-6.m-auto.text-center

                    h1 What we need
                    p.lead Our goal is to raise $7,000 for the project. Here's the breakdown of where all the funds will go:

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-lg-2.offset-lg-3.col-md-4
                    +PieChart("Travel/Location", 50, "To bring as much authenticity as possible to the production we’re secured an actual store front where the bulk of the show will be shot.")
                .col-lg-2.col-md-4
                    +PieChart("Equipment and Wardrobe", 25, "Another twenty-five percent of the budget (Equipment and Wardrobe) ensures that the audio and visual quality of Sounds Good is unmatched by other web series.")
                .col-lg-2.col-md-4
                    +PieChart("Marketing", 11, "We're hoping that everyone shares and talks about the show a lot, but we want to make sure we don't miss anyone!")
                .col-lg-2.col-md-6.offset-lg-4
                    +PieChart("Contingency", 9, "Of course, not all costs can be calculated. Surprises always come up in production, so we’ve built our contingency budget into our $7,000 goal")
                .col-lg-2.col-md-6
                    +PieChart("COVID Safety", 5, "for cast and crew safety we’re investing in proper sanitation and PPE for both on and off location to help prevent the spread of Coronavirus.")

    // Needs end

    = "\n"

    // Who
    section.module.divider-bottom
        .container

            .row#team
                .col-md-6.m-auto.text-center

                    h1 Meet the team
                    p.lead Brought to you by just the right amount of talent overlap, industry experience, and ridiculous stories from our time in retail service

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-lg-4.col-md-6
                    +team("assets/images/team/jonathan.jpg", "Jonathan Skinner", "Producer / 'Jake'", "http://instagram.com/jon.on.fire",
                        "Jonathan is a theatre/film actor and singer/songwriter with training from UCB (NYC) and film credits including work with Lenovo and Audi.")
                .col-lg-4.col-md-6
                    +team("assets/images/team/chelsea.jpg", "Chelsea Cullen Skinner", "Director / 'Charleigh'", "http://chelseacullen.me",
                        "Chelsea is an actor with a BA in Theatre Education from Meredith College, with film credits including work with HBO and the Travel Channel.")
                .col-lg-4.col-md-6
                    +team("assets/images/team/jesse.jpg", "Jesse Pulchalski", "Composer / 'Boomer'", "http://instagram.com/j_bone_stallone",
                        "Jesse is a guitarist, songwriter, and performer who has been featured in Guitar Player Magazine as a rising guitarist to watch out for.")
                .col-lg-4.col-md-6.offset-lg-2
                    +team("assets/images/team/christa.jpg", "Christa Giammattei", "Sound Engineer / 'Gia'", "http://cgiammatteisound.com",
                        "Christa is an audio engineer with past clients including VW Volkswagen, PBS, and National Geographic.")
                .col-lg-4.col-md-6
                    +team("assets/images/team/zach.jpg", "Zach Beck", "Head Writer / 'Ski'", "http://instagram.com/back_zecker",
                        "Zach is a writer with a degree in Literature and Creative Writing from UNC Asheville.")
    // Who end

    = "\n"

    // Form

    // Image
    section.module.no-gutters.p-0
        .container-fluid
            .row
                .col-md-12
                    img(src="assets/images/main/lake.jpg" alt="")
    // Image end