extends include/templates/layout

block vars
    - var header_transparent = true;
    - var header_one_page = true;


append css

append content

    // Hero
    section.module-cover.parallax.text-center.fullscreen(data-background="assets/images/module-2.jpg" data-jarallax-video="mp4:assets/video/hero.mp4" data-overlay="0.6")
        .container

            .row
                .col-md-12
                    h1.m-b-20: strong Sounds good to me.
                    p.m-b-40 Sound good to you?
                    p
                        a(href="#team" class="btn btn-lg btn-circle btn-brand smoothscroll") Who we are
                        a(href="#" class="btn btn-lg btn-circle btn-outline-new-white smoothscroll") What we need
    // Hero end

    = "\n"

    // About

    section.module.smoothscroll#about
        .container
            .row
                .col-md-12.m-auto
                    .modal-video-container
                        img(src="assets/images/main/services-1.jpg" alt="")
                        a(href="https://www.youtube.com/watch?v=0aCbYxJ9gus" class="play-button")

    // About end

    = "\n"

    // Who
    section.module#team
        .container

            .row
                .col-md-6.m-auto.text-center
                    h1 Who we are
                    p.lead We're a team of writers, actors, and musicians working together to laugh at each other

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-lg-4.col-md-6.m-auto
                    +team("assets/images/team/jonathan.jpg", "Jonathan Skinner", "Producer / 'Jake'", "http://instagram.com/jon.on.fire",
                        "Jonathan is an incredibly talented dude with some mad skills and whatnot, check out his dopest freshest shit here."
                    )
                .col-lg-4.col-md-6.m-auto
                    +team("assets/images/team/chelsea.jpg", "Chelsea Cullen Skinner", "Director / 'Charleigh'", "http://chelseacullen.me")
                .col-lg-4.col-md-6.m-auto
                    +team("assets/images/team/jesse.jpg", "Jesse Pulchalski", "Composer / 'Boomer'", "http://instagram.com/j_bone_stallone")
                .col-lg-4.col-md-6.m-auto
                    +team("assets/images/team/christa.jpg", "Christa Giammattei", "Sound Engineer / 'Gia'", "http://cgiammatteisound.com")
                .col-lg-4.col-md-6.m-auto
                    +team("assets/images/team/zach.jpg", "Zach Beck", "Head Writer / 'Ski'", "http://instagram.com/back_zecker")

            .row
                .col-md-12
                    .space(data-MY="30px")

            .row
                .col-md-12
                    p.text-center: a(href="#" class="btn btn-circle btn-outline-brand") About Us
    // Who end

    //= "\n"

    // Image
    //section.module.parallax(data-background="assets/images/lake.jpg" data-overlay="0.5")
    //    .container-fluid
    //
    //        .row
    //            .col-md-6.m-auto.text-center
    //                h3 Thanks for checking out Sounds Good
    //                p.lead See you at the premiere!
    // Image end
